/* CSS RESET */

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    /* Get rid of all font sizes and heights */
}

body {
    min-height: 100vh;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Media responsive */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p,
li,
figcaption {
    max-width: 75ch;
    text-wrap: pretty;
    /* Prevents orphans on lines */
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 3rem;
    }
}

/* VARIABLES */
:root {
    --color-background: #FDFFEC;
    --text-color-blue: #2D3142;
    --text-color-green: #81A880;
    --text-color-orange: #FF8C42;
    --color-blue: #2D3142;
    --color-green: #81A880;
    --color-orange: #FF8C42;
}

html[data-theme="light"] {
    --color-background: #FDFFEC;
    --text-color-blue: #2D3142;
    --text-color-green: #81A880;
    --text-color-orange: #FF8C42;
    --color-blue: #2D3142;
    --color-green: #81A880;
    --color-orange: #FF8C42;
}

html[data-theme="dark"] {
    --color-background: #28211B;
    --text-color-blue: #75ABBC;
    --text-color-green: #7DD181;
    --text-color-orange: #F9CB40;
    --color-blue: #75ABBC;
    --color-green: #7DD181;
    --color-orange: #F9CB40;
}

/* MAIN CSS */
/* TODO: Choose a background and text color of your liking using the available variables. */
body {
    display: flex;
    background-color: ;
    color: ;
    font-family: 'Lexend', sans-serif;
}

.main {
    padding: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    max-width: 75%;
    padding-right: 2rem;
}

.countdown-text {
    font-size: 4rem;
    font-size: clamp(4rem, 3.4rem + 3vw, 7rem);
    font-weight: 900;
    line-height: 1.15em;
}

/* TODO: Choose a text color of your liking using the available variables. */
.event-text {
    display: inline-block;
    line-height: 1.1em;
    color: ;
    word-break: break-word;
}

/* TODO: Choose a text color of your liking using the available variables. */
.days-left-text {
    color: ;
}

.right-side {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.mode-toggle {
    position: relative;
    display: inline-block;
}

.mode-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.mode-toggle label {
    position: relative;
    display: inline-block;
    width: 7.5rem;
    height: 4rem;
    cursor: pointer;
}

/* TODO: Choose a background color of your liking using the available variables. */
.toggle-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: ;
    border-radius: .5rem;
    transition: 0.2s;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 3rem;
    width: 3rem;
    left: .5rem;
    bottom: .5rem;
    background-color: white;
    border-radius: .25rem;
    transition: 0.2s;
    z-index: 2;
}

/* TODO: Choose a background color of your liking using the available variables. */
input:checked+label .toggle-slider {
    background-color: ;
}

input:checked+label .toggle-slider:before {
    transform: translateX(3.5rem);
}

.toggle-slider svg {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 1.25rem;
    z-index: 3;
    transform: translateX(0%);
    transition: transform 0.2s, opacity 0.15s ease-in-out;
}

/* Light mode icon */
.toggle-slider svg:first-of-type {
    left: 1.25rem;
    opacity: 1;
    transform: translateX(0);
}

/* Dark mode icon */
.toggle-slider svg:last-of-type {
    right: 1.25rem;
    opacity: 0;
    transform: translateX(-3.5rem);
}

input:checked+label .toggle-slider svg:first-of-type {
    opacity: 0;
    transform: translateX(3.5rem);
}

input:checked+label .toggle-slider svg:last-of-type {
    opacity: 1;
    transform: translateX(0);
}

.right-side-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.choose-event {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
    font-weight: 900;
    text-align: right;
}

.choose-event select::-ms-expand {
    display: none;
    /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}

/* TODO: Choose a background color of your liking using the available variables. */
.choose-event select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23fff'%3E%3Cpath d='M459-381 314-526q-3-3-4.5-6.5T308-540q0-8 5.5-14t14.5-6h304q9 0 14.5 6t5.5 14q0 2-6 14L501-381q-5 5-10 7t-11 2q-6 0-11-2t-10-7Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right .5rem center;
    background-size: 2rem;
    margin-top: .5rem;
    border: none;
    font-size: 1.25rem;
    color: white;
    background-color: ;
    border-radius: .5rem;
    padding: .5rem 1rem;
    padding-right: 2.75rem;
    transition: background-image 0.2s ease;
}

/* TODO: Choose a text color of your liking using the available variables. */
.event-date {
    color: ;
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
    font-weight: 900;
    text-align: right;
    text-wrap: balance;
}

@media screen and (max-width: 767px) {
    .main {
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
        justify-content: center;
    }

    .left-side {
        max-width: 100%;
        padding-right: 0;
    }

    .right-side {
        height: initial;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 2rem;
    }

    .right-side-bottom {
        align-items: flex-start;
    }

    .choose-event,
    .event-date {
        text-align: left;
    }

    .countdown-text {
        font-size: 3rem;
        font-size: clamp(3rem, 2.2rem + 4vw, 7rem);
    }
}